<h1>Adminpanel</h1>

<div class="row mt-4">
    <div class="col-md-4 mb-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Kurser</h5>
                <p class="card-text">Skapa, redigera och ta bort kurser.</p>
                <a asp-controller="AdminCourses" asp-action="Index" class="btn btn-primary">Hantera kurser</a>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Kategorier</h5>
                <p class="card-text">Hantera kurskategorier.</p>
                <a asp-controller="AdminCategories" asp-action="Index" class="btn btn-primary">Hantera kategorier</a>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Lärare</h5>
                <p class="card-text">Hantera lärare.</p>
                <a asp-controller="AdminTeachers" asp-action="Index" class="btn btn-primary">Hantera lärare</a>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Anmälningar</h5>
                <p class="card-text">Se och hantera studenters kursanmälningar.</p>
                <a asp-controller="AdminEnrollments" asp-action="Index" class="btn btn-primary">Hantera anmälningar</a>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Dokumentförfrågningar</h5>
                <p class="card-text">Skicka förfrågningar om dokument till studenter.</p>
                <a asp-controller="AdminDocumentRequests" asp-action="Index" class="btn btn-primary">Hantera förfrågningar</a>
            </div>
        </div>
    </div>
</div>
